@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@utility main-scrollbar {
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100px;
    background-color: var(--color-gradient-purple);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gradient-pink);
    border-radius: 100px;
    border: 1px solid transparent;
    background-clip: content-box;
  }
}

@utility bg-pink-gradient {
  background: var(--gradient-pink);
}

@utility bg-purple-gradient {
  background: var(--gradient-purple);
}

@utility bg-purple-gradient-reverse {
  background: var(--gradient-purple-reverse);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility focus-outline {
  @apply focus-visible:outline-none focus-visible:ring-1;
}

@utility card-outlined {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(
      -180deg,
      rgb(33, 25, 52, 1) 0%,
      rgb(29, 35, 55, 1) 95%,
      rgb(191, 101, 188, 1) 100%
    );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    box-sizing: border-box;
  }
}

@utility animation-blink {
  animation: blink 1.8s ease-in-out infinite;
}

@utility flex-col-stretch {
  @apply flex flex-col items-stretch;
}

@utility flex-available {
  flex: 1 1 0;
}

@utility inset-container-* {
  position: relative;
  overflow-y: auto;
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    pointer-events: none;
    z-index: 2;
  }

  &::before {
    top: 0;
    background: linear-gradient(to bottom, --value(--color-*, [color]), rgba(0, 0, 0, 0));
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to top, --value(--color-*, [color]), rgba(0, 0, 0, 0));
  }
}

@utility shine-* {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 0;

    width: --value([length]);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transform-origin: center;

    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5) 10%, transparent 65%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.5) 0%, transparent 65%);
  }

  &::after {
    background:
      radial-gradient(grey, transparent 27%, transparent calc(50% + 3px) 100%),
      radial-gradient(rgba(255, 255, 255, 0.5), transparent 70%),
      repeating-conic-gradient(
        from 0deg,
        rgba(255, 255, 255, 0.5) 0deg 16deg,
        transparent 16deg 26deg
      );

    animation: rotate 90s linear infinite;
  }
}

@utility loader {
  width: fit-content;
  font-size: 40px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-gradient-darkpink);
  background: linear-gradient(
      90deg,
      transparent 33%,
      var(--color-gradient-darkpink) 50%,
      var(--color-gradient-lightpink) 67%,
      transparent 0
    )
    0/300% 100% no-repeat text;
  @apply animate-fill;
}
