@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@utility bg-pink-gradient {
  background: linear-gradient(
    to right,
    var(--color-gradient-darkpink),
    var(--color-gradient-lightpink)
  );
}

@utility bg-purple-gradient {
  background: linear-gradient(to right, var(--color-gradient-purple), var(--color-gradient-blue));
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility focus-outline {
  @apply focus-visible:outline-none focus-visible:ring-1;
  input {
    @apply focus-visible:ring-white focus-within:ring-1 focus-within:ring-white;
  }
}

@utility purple-gradient-outlined {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(
      -180deg,
      rgb(33, 25, 52, 1) 0%,
      rgb(29, 35, 55, 1) 95%,
      rgb(191, 101, 188, 1) 100%
    );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    box-sizing: border-box;
  }
}

@utility animation-blink {
  animation: blink 1.8s ease-in-out infinite;
}

@utility flex-col-stretch {
  @apply flex flex-col items-stretch;
}

@keyframes blink {
  50% {
    opacity: 0.3;
  }
}
